* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7f8fa6;
}

.app {
  background-color: #fefefe;
  height: 620px;
  width: 410px;
  margin: 0 auto;
  border-radius: 10px;
}

.app .header {
  height: 39px;
  border-bottom: 2px solid #dcdde1;
  line-height: 39px;
  text-align: left;
  font-size: 1.2em;
  font-weight: 520;
  padding-left: 1.2em;
  user-select: none;
}

.app .dialog {
  width: 100%;
  overflow: auto;
  transition: all 0.4s linear;
  border-bottom: 2px solid #dcdde1;
}

.app .dialog::-webkit-scrollbar-thumb:hover {
  background: #00a8ff !important;
}

.app .dialog:hover {
  background-color: #fff;
}

.app .dialog:hover::-webkit-scrollbar-thumb {
  opacity: 0.8;
  background-color: rgba(0, 168, 255, 0.8);
}

.app .dialog::-webkit-scrollbar {
  background-color: #f5f6fa;
  width: 5px;
}

.app .dialog::-webkit-scrollbar-thumb {
  background-color: rgba(0, 168, 255, 0);
  transition: background-color 0.5s linear;
  width: 5px;
  border-radius: 15px;
  opacity: 0;
}

.app .dialog .main {
  margin-left: 5px;
  position: relative;
  height: 429px;
  width: 400px;
}

.app .dialog .main .oneMessage {
  margin-top: 10px;
  width: 100%;
  display: flex;
}

.app .dialog .main .oneMessage:last-of-type {
  padding-bottom: 15px;
}

.app .dialog .main .oneMessage > div:nth-child(1) {
  width: 48px;
  margin: 11px;
  height: 48px;
  line-height: 48px;
  border-radius: 48px;
  background-color: #0097e6;
  text-align: center;
  color: #fff;
  font-weight: bold;
  user-select: none;
}

.app .dialog .main .oneMessage > div:nth-child(2) {
  max-width: 260px;
  margin-top: 11px;
}

.app .dialog .main .oneMessage > div:nth-child(2) .time {
  width: 100%;
  display: flex;
  font-size: 0.4em;
  font-weight: 100;
  height: 24px;
}

.app .dialog .main .oneMessage > div:nth-child(2) .info {
  overflow-wrap: break-word;
  background-color: #f5f6fa;
  padding: 10px;
  max-width: 260px;
  min-width: 10px;
  min-height: 21px;
}

.app .dialog .main .orthersmessage {
  flex-direction: row;
}

.app .dialog .main .orthersmessage .info {
  border-radius: 0 10px 10px 10px !important;
}

.app .dialog .main .mymessage {
  flex-direction: row-reverse;
}

.app .dialog .main .mymessage .time {
  flex-direction: row-reverse;
}

.app .dialog .main .mymessage .info {
  border-radius: 10px 0 10px 10px;
  color: #fff;
  background-color: #0097e6 !important;
}

.app .footer {
  height: 140px;
  width: 100%;
  position: relative;
}

.app .footer .notificationBox {
  width: 140px;
  text-align: center;
  position: absolute;
  font-size: 0.8em;
  height: 20px;
  border-radius: 10px;
  line-height: 20px;
  top: -50px;
  left: 130px;
  z-index: 1;
  background-color: #34495e;
  color: #fff;
  display: none;
  transition: opacity 0.5s, background-color 0.5s;
  opacity: 0;
}

.app .footer .notificationBox > span {
  font-weight: 600;
}

.app .footer .toBottom {
  width: 36px;
  height: 33px;
  transform: scale(0);
  text-align: center;
  position: absolute;
  font-size: 0.8em;
  border-radius: 5px;
  line-height: 42px;
  font-size: 22px;
  top: -80px;
  right: 10px;
  z-index: 1;
  background-color: #34495e;
  color: #fff;
  transition: 1s;
  opacity: 0;
  user-select: none;
}

.app .footer .active {
  transform: scale(1);
  display: block;
  opacity: 0.3;
  user-select: none;
}

.app .footer .active:hover {
  background-color: #00a8ff;
  opacity: 0.73;
  cursor: pointer;
}

.app .footer > div:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.app .footer > div {
  margin: 10px;
}

.app .footer > div #text {
  resize: none;
  width: 98%;
  height: 70px;
  font-size: 1.5em;
  border: none;
  outline: none;
}

.app .footer > div #text::-webkit-scrollbar {
  background-color: #f5f6fa;
  width: 5px;
}

.app .footer > div #text::-webkit-scrollbar-thumb {
  background-color: rgba(0, 168, 255, 0);
  transition: background-color 0.5s linear;
  width: 5px;
  border-radius: 15px;
  opacity: 0;
}

.app .footer > div button {
  width: 100px;
  height: 1.6em;
  line-height: 1.6em;
  font-size: 1.2em;
  color: #fff;
  outline: none;
  text-align: center;
  background-color: #00a8ff;
  border: none;
  opacity: 0.85;
  border-radius: 5px;
  transition: opacity 0.3s;
  user-select: none;
}

.app .footer > div button:hover {
  opacity: 1;
  cursor: pointer;
}

.app .footer > div button:active {
  background-color: #0097e6;
  box-shadow: 2px 1px 1px #00a8ff;
}
